.number {
  margin: 20px;
  background-color: #0096ff;
  width: 100px;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.main-container, .count {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #17b17b;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  padding-top: 5px;
}


.buttons {
  display: flex;
  justify-content: center;
}

.btn {
  width: 200px;
  padding: 15;
  background-color: #3e85f7;
  color: white;
  height: 50px;
  border: none;
}

.btn:hover {
  background-color: #1d67df;
}

p {
  margin-top: 30px;
  margin-bottom: 5px;
}

input {
  height: 40px;
}

h1 {
  font-size: 50px;
}

.count {
  height: 100px;
  padding: 0;

}

h2 {
  text-align: center;
}


