<p class="number">Ejercicio 6</p>

<h1>Gráficas con datos de una api pública</h1>

<div class="container">

  <div class="canvas">

    <!--Spinner-->
    <div class="container" *ngIf="loading">
      <img  src="./../../../assets/oval.svg" alt="loading"><br>
    </div>

    <div class="container" *ngIf="loading">
      <p>Loading...</p>
    </div>


    <canvas *ngIf="this.barChartData.datasets[0].data.length > 0" class="chart" baseChart [data]="barChartData"
      [options]="barChartOptions" [type]="barChartType" (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
    </canvas>



    <!-- <button *ngIf="!loading" (click)="update()" class="update">Actualizar datos</button> -->

    <!-- <p *ngIf="loading">Actualizando...</p> -->

  </div>

</div>
